<ion-view view-title="BULLS AND COWS">
  <ion-header-bar class="row bar bar-subheader bar-stable">
    <div class="col col-10">
      &nbsp;
    </div>
    <div class="col text-center left-border">
      Code
    </div>
    <div class="col col-20 text-center left-border">
      Score
    </div>
  </ion-header-bar>
  <ion-content>

    <ion-list>

      <ion-item class="row turn" ng-repeat="turn in turns track by $index">

        <div class="col col-10 text-center turn-num">
          {{$index+1}}
        </div>
        <div class="col text-center left-border">
          <div class="button-bar">

            <!-- generate each round's gameplay spaces based on numPositions -->
            <button class="button button-icon icon"
              ng-repeat="pos in range(numPositions) track by $index"
              ng-click="turn.positions[$index] = selectedIcon"
              ng-class="icons[turn.positions[$index]] || defaultIcon">
            </button>

          </div>
        </div>
        <div class="col col-20 text-center left-border">
          <div class="score-wrap">
            <!-- TODO: If not current turn, display the score for turn.
                   The score should show a <div> with a class of 'perfect'
                   for each position with correct icon and position
                   AND a <div> with a class of 'almost' for each position
                   with correct icon but in the incorrect position.
                   None of the <div>s should have any content.
                   When is all said and done, there should be anywhere from
                   zero to 4 of these:
                       <div class="perfect"></div>
                          - or -
                       <div class="almost"></div>
            -->
          </div>
        </div>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
